@charset "utf-8";

input {
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
  appearance: none;
  color: #747474;
  font-size: 18px;
}
input:focus {
  outline: none;
}

/*input type checkbox*/
input[type="checkbox"] {
  -webkit-appearance: checkbox;
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
input:checked[type="checkbox"] {
  -webkit-appearance: checkbox;
}
input[type="checkbox"] + label {
  display: inline-block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
input[type="checkbox"] + label:before {
  /*content: '\2228';*/
  content: "";
  background-image: url(/image/sub/check.png);
  background-position: 6px center;
  background-repeat: no-repeat;
  background-size: 13px;
  display: inline-block;
  width: 26px;
  height: 26px;
  margin: -4px 10px 0 0;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #cecfcf;
  border-radius: 50%;
}
input[type="checkbox"] + label:active:before,
input[type="checkbox"]:checked + label:active:before {
}
input[type="checkbox"]:checked + label:before {
  background-image: url(/image/sub/check_w.png);
  background-color: #7d664e;
  border-color: #7d664e;
}

/*input type radio*/
input[type="radio"] {
  -webkit-appearance: radio;
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
input:checked[type="radio"] {
  -webkit-appearance: radio;
}
input[type="radio"] + label {
  display: inline-block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
input[type="radio"] + label:before {
  content: "";
  background-image: url(/image/sub/check.png);
  background-position: 6px center;
  background-repeat: no-repeat;
  background-size: 13px;
  display: inline-block;
  width: 26px;
  height: 26px;
  margin: -4px 10px 0 0;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #cecfcf;
  border-radius: 50%;
}
input[type="radio"] + label:active:before,
input[type="radio"]:checked + label:before {
  background-image: url(/image/sub/check_w.png);
  background-color: #7d664e;
  border-color: #7d664e;
}

/*input type button*/
input[type="button"] {
  position: relative;
  background: #fff;
  color: #333;
  font-size: 15px;
  border: 1px solid #ccc;
  height: 26px;
  border-radius: 13px;
  padding: 0 13px;
  cursor: pointer;
}

/*
label_style_reset
*/
label {
  color: #747474;
  font-size: 18px;
  vertical-align: middle;
}
input + label:before {
  box-sizing: border-box;
}

/********************************************
interest page style
********************************************/
.interest .visual_title {
}
@media (max-width: 1000px) {
  .submit_btn input {
    width: 100%;
  }
  .submit_btn input:first-child {
    margin-top: 20px;
  }
  /*.agree_btn{float:none; display:flex;  margin: 2% auto 0;}
	.agree_btn span{margin:3% }*/
}

.content_head {
  font-size: 32px;
  line-height: 120%;
  margin-bottom: 70px;
  text-align: center;
}
.content_head span {
  color: #7d664e;
  font-weight: 500;
}
.content_head p {
}

/*개인정보 테이블*/
.table {
  width: 100%;
  border-top: 2px solid #636363;
  margin: 20px auto 50px auto;
}
.table tr {
  border-bottom: 1px solid #a0a0a0;
}
.table td {
  position: relative;
  padding: 10px 0;
  font-size: 18px;
}
.table td.heading {
  background: #fff;
  font-weight: 500;
  display: table-cell;
}
.table td.heading.vtcl {
  vertical-align: top;
}
.table span.heading2 {
  width: 150px;
  margin-left: -15px;
  margin-right: 10px;
  display: inline-block;
  padding: 0;
  line-height: 40px;
  text-align: center;
  background: #eee;
}
.table td .input_txt {
  border: 1px solid #ececec;
  padding: 8px 0;
  text-indent: 10px;
  font-size: inherit;
  margin: 0 8px;
}
.table td .input_txt_first {
  margin-left: 0;
}
.table td .input_txt_last {
}
.table td .input_txt1 {
  width: 360px;
}
.table td .input_txt2 {
  width: 100px;
}
.table td .input_txt3 {
  width: 100%;
}
.table td .input_txt4 {
  width: 230px;
  margin: 15px 0 8px 0;
}
.table td .hyphen {
  width: 10px;
  height: 1px;
  background: #000;
  display: inline-block;
  vertical-align: inherit;
}
.table td > p {
  margin-bottom: 10px;
}
.table td select {
  border: 1px solid #ececec;
  padding: 8px 0;
  text-indent: 10px;
  font-size: inherit;
  width: 140px;
}
.table tr.agree_item td {
  padding: 21px 0;
}
.table tr.agree_item span {
  margin-right: 36px;
}

.telChk_btn {
  display: inline-block;
}
.telChk_btn.btn_ok input {
  background: #7d664e !important;
  border-color: #7d664e !important;
  color: #fff !important;
}
.telChk_btn span.telChk_ok {
  display: none;
  margin: 0 0 0 10px !important;
  font-size: 15px;
  color: #7d664e;
  line-height: 26px;
}
.telChk_btn.btn_fail input {
  background: #d9543a !important;
  border-color: #d9543a !important;
  color: #fff !important;
}
.telChk_btn span.telChk_fail {
  display: none;
  margin: 0 0 0 10px !important;
  font-size: 15px;
  color: #d9543a;
  line-height: 26px;
}
.telChk,
.telChk_btn.btn_ok span,
.telChk_btn.btn_fail span {
  display: inline;
}

.zipcode_btn {
  background: #7d664e !important;
  border-color: #7d664e !important;
  color: #fff !important;
}

/*정보수집 동의*/
.privacy_wrap {
  margin-bottom: 0px;
}
.chk_all {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
  border-bottom: 1px solid #000;
}
.chk_all span {
  position: absolute;
  right: 0;
  bottom: 20px;
  width: 380px;
  height: 50px;
}
.chk_all input + label {
  width: inherit;
  padding-left: 46px;
  line-height: 46px;
  height: 100%;
  border-radius: 25px;
  border: 1px solid #cecfcf;
}
.chk_all input + label:before {
  content: "";
  background-image: url(/image/sub/check.png);
  background-position: 15px center;
  background-repeat: no-repeat;
  background-size: 23px;
  display: inline-block;
  width: 100%;
  height: 100%;
  margin: 0;
  text-align: center;
  vertical-align: middle;
  border: none;
  border-radius: 0;
  position: absolute;
  left: 0;
}
.chk_all input:checked + label {
  color: #fff;
  background-color: #7d664e;
  border-color: #7d664e;
}
.chk_all input:checked + label:before {
  background-image: url(/image/sub/check_w.png);
  background-color: unset;
  border-color: unset;
}
.privacy {
  margin: 0 auto;
  margin-bottom: 15px;
}
.privacy div h3 {
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 15px;
  color: #000;
}

.document {
  height: 300px;
  overflow: auto;
  border: 1px solid #ccc;
  padding: 20px;
  color: #535353;
  line-height: 28px;
}
.document dl {
  margin-bottom: 25px;
  font-size: 15px;
}
.document dt {
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 15px;
}
.document ul li {
  font-size: 15px;
}
.agree_btn {
  float: right;
  margin-top: 15px;
}
.agree_btn span {
  margin-left: 36px;
  display: inline-block;
}
.bg_gray {
  background: #eee;
  padding: 10px 15px;
}

/*등록하기*/
.submit_btn {
  text-align: center;
  margin-top: -10px;
  margin-bottom: 10px;
}
.submit_btn input {
  border: 0;
  height: 70px;
  border-radius: 35px;
  padding: 0 60px;
  margin: 0 9px;
}
.submit_btn .submit_btn1 {
  background: #7d664e;
  color: #fff;
}
.submit_btn .submit_btn2 {
  background: #eee;
}

@media screen and (max-width: 1000px) {
  .content_head {
    font-size: 26px;
  }
  .table td .input_txt1 {
    width: 250px;
  }
  .submit_btn input {
    height: 50px;
    border-radius: 25px;
    padding: 0 37px;
  }
}
@media screen and (max-width: 768px) {
  .content_head {
    font-size: 22px;
  }
  .table td {
    display: block;
    width: 100%;
  }
  .table td.heading {
    display: block;
    padding: 10px 0 0 0;
  }
  .table td + td {
    padding-bottom: 10px;
  }
  .table td .input_txt_last {
    margin-right: 0;
  }
  .table td .input_txt1 {
    width: 100%;
  }
  .table td > p .input_txt1 {
    width: calc(100% - 120px);
  }

  .telChk_btn {
    display: block;
    margin-top: 10px;
  }
  .table td select {
    display: block;
    margin-top: 10px;
  }
  .table tr.agree_item span {
    margin-right: 10px;
  }
}
@media screen and (max-width: 640px) {
  .chk_all span {
    position: relative;
    right: none;
    bottom: none;
    width: 100%;
  }
  .chk_all input + label {
    line-height: 160%;
  }
  .interest main.layout {
    width: calc(100% - 30px);
  }
}

@media screen and (max-width: 430px) {
  .submit_btn input {
    padding: 0 22px;
  }
}

@media screen and (max-width: 425px) {
  .table tr.agree_item span {
    display: block;
    margin-bottom: 10px;
  }
  .table td .input_txt2 {
    width: 64px;
  }

  .table td .input_txt4 {
    width: 160px;
  }
  .footer_sns {
    top: 150px;
  }
}
